@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Concert One', cursive;
  text-align: center;
  background-color: #fcf1e8ef;
  color: rgba(37, 33, 33, 0.735);
}


/*  Home  */

.carousel-item {
 margin: auto;
}

.carousel-inner {
  height: 600px;
  width: 400px;
  bottom: auto;
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  padding-top: 25px;
}


/*  BookReviews  */

.all-books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.each-card {
  margin: 15px;
}

.each-card:hover {
  box-shadow: 3px 8px 16px 3px rgba(37, 33, 33, 0.735);
  cursor: pointer;
}

.card-button:hover {
  box-shadow: 3px 8px 16px 3px rgba(37, 33, 33, 0.735);
}