@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Concert One', cursive;
}


/*  HEADER.JS styles  */

